#Argentina {
    position: absolute;
    top: 82%;
    left: 20%;
}

#Canada {
    position: absolute;
    top: 17%;
    left: 17%;
}

#China {
    position: absolute;
    top: 42%;
    left: 75%;
}

#France {
    position: absolute;
    top: 30%;
    left: 42%;
}

#India {
    position: absolute;
    top: 57%;
    left: 65%;
}

#Mexico {
    position: absolute;
    top: 42%;
    left: 6%;
}

#Morocco {
    position: absolute;
    top: 47%;
    left: 36%;
}

#Russia {
    position: absolute;
    top: 22%;
    left: 66%;
}


.tooltip {
    display: none;
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translateX(-50%);
    background-color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    align-items: center;
    max-width: 50%;
    text-align: center;
    color: white;
    width: 120px;
    height: 50px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 105%;
        transform: translateY(-50%) rotate(90deg);
        border-width: 8px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

.tower-button:hover {
    transform: scale(1.5);
}

.tower-button:hover .tooltip {
    display: block;
}

.tower-button:hover .tower-window {
    animation-play-state: paused;
}

.tower-button {
    position: none;
    padding: 0;
    border: none;
    background: url(../../../assets/tower.svg) no-repeat center center;
    background-size: contain;
    width: 10vw;
    height: 10vh;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
}

@keyframes flash {
    0% {
        background-color: yellow;
    }

    20% {
        background-color: orange;
    }

    50% {
        background-color: lightgreen;
    }

    70% {
        background-color: red;
    }

    100% {
        background-color: yellow;
    }
}

.tower-window {
    position: absolute;
    top: 40px;
    left: 130px;
    padding: 0;
    background-color: yellow;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: flash 2s infinite;
}

.yellow {
    color: #FDD506;
}