.main-page-background {
    width: 99vw;
    height: 98.5vh;
    object-fit: cover;
    object-position: center;
    padding: auto;
    z-index: -1;
}

.main-page-background-login {
    position: absolute;
    width: 99vw;
    height: 98.5vh;
    object-fit: contain;
    object-position: right;
    background-color: black;
    padding: auto;
    z-index: -1;
}

.main-page-background-signup {
    width: 99vw;
    height: 98.5vh;
    object-fit: cover;
    object-position: center;
    padding: auto;
    z-index: -1;
}